@page "/contact"
@using Portfolio.Models

<PageTitle>Contact</PageTitle>

<div class="decorated-page page-contact">

    <h1 class="page-title">Contact</h1>

    <div class="contact-card">
        <p>
            Tu peux me contacter pour une opportunité professionnelle,
            une question sur mes projets ou un échange autour du développement.
        </p>

        <EditForm Model="contactMessage"
          OnValidSubmit="HandleValidSubmit"
          FormName="contactForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Nom</label>
                <InputText class="form-control" @bind-Value="contactMessage.Name" />
                <ValidationMessage For="@(() => contactMessage.Name)" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="contactMessage.Email" />
                <ValidationMessage For="@(() => contactMessage.Email)" />
            </div>

            <div class="form-group">
                <label>Message</label>
                <InputTextArea class="form-control message-area" @bind-Value="contactMessage.Message" />
                <ValidationMessage For="@(() => contactMessage.Message)" />
            </div>

            <button class="btn-primary" type="submit">
                Envoyer le message
            </button>
        </EditForm>

        @if (isSent)
        {
            <p class="success-message">
                Merci, ton message est prêt à être envoyé ❤️
            </p>
        }
    </div>

</div>

@code {
    private ContactMessage contactMessage = new();
    private bool isSent = false;

    private void HandleValidSubmit()
    {
        isSent = true;
    }
}