@page "/experiences"
@using Portfolio.Data
@using Portfolio.Models

@code {
    private List<Experience> experiences = ExperienceRepository.GetExperiences();
}

<PageTitle>Expériences</PageTitle>
<div class="decorated-page page-experiences">
    @* <svg class="wave-line" viewBox="0 0 80 100" preserveAspectRatio="none">
        <path id="wavePath" d="M40 0 C40 30 40 70 40 100" />
    </svg> *@

    <h1 class="page-title">Expériences professionnelles</h1>

    <div class="timeline">

        @foreach (var experience in experiences)
        {
            <ExperienceCard Experience="experience" />
        }

    </div>
    
</div>
