@page "/projects"
@using Portfolio.Data
@using Portfolio.Models

@code {
    private List<Project> projects= ProjectRepository.GetProjects();
}


<PageTitle>Projets</PageTitle>
<div class="decorated-page page-projects">
    <h1 class="page-title">Mes projets</h1>

    <div class="projects-list">

    @foreach (var project in projects)
    {
        <ProjectCard Project="project" />
    }

    </div>
</div>